@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*font-family: 'Poppins', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
/* font-family: 'Abyssinica SIL', serif; */

*{
    padding: 0;
    box-sizing: border-box;
    margin: auto;
    overflow-x: hidden;
}

main{
    padding: 2rem;
}

.hero-about{
    width: 100%;
    height: 25rem;
    background-size: cover;
    background-image:
            linear-gradient(
                    rgba(0, 0, 0, 0.6),
                    rgba(0, 0, 0, 0.6)
            ),
            url("../assets/home.jpg");
}

main.main-about{
    padding: 0;
}

.about{
    width: 50%;
    float: left;
    text-align: left;
    padding-left: 3rem;
    padding-top: 7rem;
}

.about h1{
    font-size: 3rem;
    color: white;
    padding-bottom: 1rem;
}

.about p{
    color: white;
}

img.graphics {
    width: 20rem;
    display: block;
    margin: 0;
}

img.compscreen{
    width: 40rem;
    margin: 0;
}

img.phonescreen{
    width: 35rem;
    margin: 0;
}

.about-inner{
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
    background-size: cover;
    overflow-x: hidden;
    width: 90%;
}

.about-img{
    margin: 0;
}

.about-banner.f{
    background-color: #f5f5f5;
}

.about-content.f{
    width: 40%;
}

.about-content{
    width: 60%;
    text-align: justify;
    margin: 0;
    padding-top: 4rem;
}

.about-content h1{
    line-height: 5rem;
}

.about-content p{
    line-height: 2.2rem;
    font-size: 1.1rem;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: solid 1px #c4c4c4;
}

.brand-title {
    font-weight: 700;
    font-size: 30px;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    padding: 1rem;
    display: block;
}

.toggle-button{
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: none;
    font-size: 30px;
    flex-direction: column;
    justify-content: space-between;
}

body {
    text-align: center;
}

h1{
    font-size: 2rem;
}

h1, h2, h3, a, p, .choice{
    font-family: 'Poppins', sans-serif;
    line-height: 3rem;
}

h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #AE2012;
    line-height: 2rem;
}

a{
    text-decoration: none;
    padding: 0.8rem;
    color: black;
}

.about p{
    line-height: 2rem;
}

.symbol{
    font-style: italic;
    font-size: 1.5rem;
    font-family: 'Abyssinica SIL', serif;;
}

.ins p{
    font-size: 0.9rem;
}

.ins a{
    color: #f58800;
}


tr, th, td, option{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
}

label{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    line-height: 2rem;
}

td{
    text-align: left;
}


/* format for the stories table */
.content-table{
    border-collapse: collapse;
    min-width: 400px;
}

.content-table td {
    border-bottom: 1px solid #DDDDDD;
}

.content-table th,
.content-table td{
    padding: 12px 15px;
}

/* buttons */
.signup-btn, .login-btn, .logout-btn, .btn-1{
    font-family: 'Poppins', sans-serif;
    padding: 0.5rem 0.8rem 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    border: solid 0.1rem black;
    background-color: black;
    color: white;
    height: 2.5rem;
    width: 5rem;
}

.login-btn{
    background-color: white;
    color: black;
}

.profile-tab{
    display: inline-flex;
    justify-content: space-around;
    width: 10rem;
}

.var-1{
    width: 400px;
}

.var-2{
    width: 7rem;
}

.var-3{
    width: 11rem;
    margin: 0;
}

.edit-btns{
    padding-top: 1rem;
    display: inline-flex;
    justify-content: space-between;
    width: 360px;
}

.delete-div{
    padding-top: 0.2px;
    margin: 0;
}

.delete-btn{
    background-color: #AE2012;
    border: none;
    height: 2.35rem;
    width: 11rem;
    margin: 0;
}

.submit-btn{
    background-color: black;
    color: white;
    border: none;
    height: 2.35rem;
    width: 11rem;
    margin: 0;
}

.delete-btn a, .submit-btn a{
    color: white;
    font-family: 'Poppins', sans-serif;
    line-height: 1rem;
}

.delete-btn:hover {
    background-color: white;
    color: #AE2012;
    border: solid 1px;
}

.delete-btn:hover a {
    color: #AE2012;
}

.submit-btn:hover, .btn-1:hover, btn-2:hover{
    background-color: white;
    color: black;
    border: solid 1px;
}


/* add post form */
.add-post{
    content-align: left;
    justify-content: left;
}

.sign-up-form, .insert-form, .login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

input, textarea, select{
    font-family: 'Poppins', sans-serif;
    font-size: 0.85rem;
    height: 40px;
    width: 400px;
    border: 1px solid #adadad;
    border-radius: 2px;
    padding: 0 10px;
}

textarea{
    height: 200px;
}

.edit-form textarea, .edit-form input.title{
    width: 360px;
}

.stories input, .stories select{
    height: 40px;
    width: 200px;
}

.post{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 100%;
    height: 500px;
    text-align: left;
    padding: 1.5rem;
    overflow-y: auto;
    overflow-x: auto;
}

.post.edit{
    box-shadow: none;
    height: 400px;
}

.post p{
    font-size: 1rem;
    line-height: 1.8rem;
}

.post h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

.post h4{
    color: black;
}

.tag{
    font-family: 'Poppins', sans-serif;
    padding: 0.2rem 0.4rem 0.2rem;
    text-align: center;
    text-decoration: none;
    font-size: 0.6rem;
    border: 0;
    border-radius: 0.8rem;
}

.fa-solid{
    width: 17px;
}

.post-container{
    max-width: 1300px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.stories-page{
    margin: auto;
    justify-content: center;
}

span{
    position: absolute;
    transform: translate(-200%, 40%);
    cursor: pointer;
}

.fa-eye{
    color: dimgrey;
}

@media screen and (max-width: 1200px){
    .about-inner{
        background-image: none;
        flex-direction: column;
        align-items: center;
        display: table;
    }

    .about-img img{
        padding-top: 2rem;
        width: 100%;
        height: auto;
        margin: auto;
    }

    img.graphics {
        width: 15rem;
    }

    .about-content { display: table-header-group; } /*description always on bottom*/
    .about-img { display: table-footer-group; } /*image always on top*/
}

@media (max-width: 900px) {
    .intro p{
        padding-top: 1rem;
        line-height: 2rem;
    }
}

@media (max-width: 680px) {
    .toggle-button{
        display: flex;
    }

    .brand-title{
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        border-top: 1px solid #c4c4c4;
    }

    .navbar-links{
        text-align: center;
    }

    .navbar-links li {
        width: 100%;
        border-bottom: 1px solid #c4c4c4;
    }

    .navbar-links li:last-child {
        width: 100%;
        border-bottom: 0;
    }

    .navbar-links li a{
        padding: .5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }

    .signup-btn, .login-btn, .logout-btn{
        background-color: white;
        color: black;
        border: none;
        font-size: 1rem;
        width: 6rem;
    }
}

@media (max-width: 600px) {
    .stories-head input, .stories-head select{
        width: 200px;
    }

    input.btn-1.var-2 {
        width: 7rem;
    }
}

@media (max-width: 480px) {
    .post-container{
        grid-template-columns: repeat(auto-fit, 320px);
    }

    .stories-btns{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .edit-form textarea, .edit-form input.title {
        width: 320px;
    }

    .edit-btns{
        width: 320px;
    }

    .submit-btn, .delete-btn{
        width: 9.5rem;
    }

    .var-2, .var-1, title, input, select, textarea{
        width: 320px;
    }

    .var-2{
        margin-top: 1rem;
    }

    .stories-btns a{
        padding: 0;
    }

    input.stories-btns, select.stories-btns{
        width: 150px;
    }

    .post.edit{
        overflow-x: hidden;
        padding: 0;
    }
}